{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
<div class="index-div">
   <h1 class="index-title">Welcome to Hang Out App, by the ENI development team</h1>
   <p class="index-text-1">
      Here you will be able to find all the events organized by the students of ENI school,

      feel free to register yourself to some of them if you're interested !
   </p>
   <p class="index-text-2">
      There is plenty of different kind of events so you should be able to find something juicy !
   </p>
   <p class="index-text-3">
      And if you're not satisfied you can even create your own events !
   </p>
</div>
<div class="photo-div">
   <img class="photo" src="{{ asset('img/bar.jpeg') }}">
   <img class="photo" src="{{ asset('img/rando.jpg') }}">
   <img class="photo" src="{{ asset('img/festival.jpg') }}">
   <img class="photo" src="{{ asset('img/disco.jpg') }}">
</div>
{% endblock %}
