header {
    background-color: #ff3364;
    padding: 1rem 0;
}

header h1 {
    margin: 0 0 10px 0;
}

header a {
    text-decoration: none;
    color: inherit;

}

header nav a:hover {
    text-decoration: underline;
    color: #6c142f;
}

.header-logo {
    font-size: 3rem;
    font-weight: normal;
    color: #FFFFFF;
    display: flex;
    justify-content: space-evenly;
}

.header-logo a:hover{
    color: #6c142f;
}

.header-logo img {
    max-width: 42px;
    margin-right: 5px;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Asul', sans-serif;
    background-color: aliceblue;

}

.container {
    width: 800px;
    margin: auto;
    font-family: 'Asul', sans-serif;
}

.main-body {
    background-image: url("../img/bar.jpg");
    width: 390px;
    -webkit-filter: blur(2px);
}

.right {
    background-position: right;
}

.main {
    display: flex;
    padding: 0px;
}

.register {
    max-width: 500px;
    margin: 100px auto;
}

.not-registered {
    color: #6c142f;
}

.not-registered:hover {
    color: #6c142f;
}

.register-title {
    font-size: x-large;
}

.login-form {
    max-width: 500px;
    margin: 140px auto;
}

.login-title {
    font-size: x-large;
}

.header-nav {
    display: block;
    margin: auto;
    max-width: 800px;
    color: #FFFFFF;
}
.header-nav-option {
    padding: 0 10px;
}

.msg {
    color: darkgreen;
}

main {
    flex: 1;
    padding: 1rem 0;
    background-color: #FFFFFF;
}

footer {
    padding: 2rem 0;
    text-align: center;
    background-color: #ff3364;
    color: #FFFFFF;
}

.photo {
    border: transparent;
    border-radius: 100px;
    max-width: 170px;
}

.wish-form {
    width: 300px;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
}

.scroll {
    width: 750px;
    height: 600px;
    overflow: auto;
    float: left;
    margin: 0 10px;
}

.scroll5::-webkit-scrollbar {
    width: 15px;
}

.scroll5::-webkit-scrollbar-thumb {
    background: #666;
}

.scroll5::-webkit-scrollbar-track {
    background: #ddd;
}

.scroll5::-webkit-scrollbar-button {
    background: #666;
    height: 15px;
    border-radius: 50%;
}
