{% extends 'base.html.twig' %}

{% block body %}
    <div class="detail-div">
        <div class="list-and-title">
            <h1 class="list-title">All events</h1>
            <br>
            <div class="list scroll scroll5">
                <ul id="">

                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block title %}

{% endblock %}

