{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block body %}

    {% if not app.user %}
        <div class="alert-login-div">
            <p class="alert-login">
                Please log in to get acces to this page !
            </p>
            <br>
            <a href="{{ path('app_login') }}"><button class="button is-danger is-rounded alert-login">Log in</button></a>
        </div>
    {% endif %}
    {% if app.user %}
    <div class="create">
        <h1 class="create-title">
            Set up your event !
        </h1>
        <br>
        {% form_theme outingForm 'foundation_6_layout.html.twig' %}
        {{ form_start(outingForm) }}
        {{ form_widget(outingForm) }}
        <br>
        <button class="button is-rounded is-danger">Let the dogs out !</button>

        {{ form_end(outingForm) }}
    </div>
    {% endif %}
{% endblock %}

