{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block body %}

    <div>
        {% form_theme outingForm 'foundation_6_layout.html.twig' %}
        {{ form_start(outingForm) }}
        {{ form_widget(outingForm) }}
        <button>Let the dogs out !</button>

        {{ form_end(outingForm) }}
    </div>

{% endblock %}

