{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block body %}
    <h2>{{ outing.title }}</h2>
    <p class="outing-credit">Created by {{  outing.name }}
        on {{ outing.dateCreated | date('Y-m-d') }}.
    </p>
    <div>{{ outing.outingInfo | nl2br }}</div>
{% endblock %}
