{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block body %}
      <ul>
          {% for outing in outings  %}
                <li><a href="{{ path('app_detail',{'id':outing.id}) }}">
                        {{ outing.name }}
                    </a>
                </li>
          {% else %}
              <p>Nothing to show sorry ! =(</p>
          {% endfor %}
      </ul>

{% endblock %}



