{% extends 'base.html.twig' %}

{% block body %}
    {#    <ul>#}
    {#        {% for wish in wishes %}#}
    {#            <li><a href="#">{{ wish }}</a> </li>#}
    {#        {% endfor %}#}
    {#    </ul>#}


    {# Sans l'API #}
      <ul>
          {% for outing in outings  %}
                <li><a href="{{ path('app_detail',{'id':outing.id}) }}">
                        {{ outing.name }} - {{ outing.category.name }}
                    </a>
                </li>
          {% else %}
              <p>Nothing to show sorry ! =(</p>
          {% endfor %}
      </ul>

{% endblock %}

{% block title %}

{% endblock %}

