{% extends 'base.html.twig' %}

{% block body %}

    <div class="create">
        <h1 class="create-title">
            Search your campus's events !
        </h1>
        <br>
        {% form_theme campusForm 'foundation_6_layout.html.twig' %}
        {{ form_start(campusForm) }}
        {{ form_widget(campusForm) }}
        <br>
        <button class="button is-rounded is-danger">Search</button>

        {{ form_end(campusForm) }}
    </div>


{% endblock %}

