{% extends 'base.html.twig' %}

{% block body %}

    <p> 400 (Bad request): The server did not understand the request, probably a syntax error. </p>

    <a href="{{ path('app_main') }}">Go back to the main page.</a>

    {# La requête n'a pas été comprise par le serveur.
        C'est généralement une erreur syntaxique. #}

{% endblock %}