{% extends 'base.html.twig' %}

{% block body %}
    <p>404 (Page Not Found): A 404 error indicates that the server itself was found, but that the server was not able to retrieve the requested page.</p>

    <a href="{{ path('app_main') }}">Go back to the main page.</a>
{% endblock %}