{% extends 'base.html.twig' %}

{% block body %}

    <p> 401 (Authorization Required): this page is protected and require authentication,
        this error page appears when the authentication failed.</p>

    {# La page demandée est sécurisée et requiert une authentification.
        La page d'erreur s'affiche lorsque la tentative d'authentification a échouée. #}

{% endblock %}